html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: var(--bg);
  color: var(--t0);
  font-family: var(--ui);
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

/* Shell */
.shell {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.editor-shell {
  background: #0f0e0c;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.editor-shell .monaco-editor {
  flex: 1;
}